<mat-toolbar>
   <button mat-icon-button class="example-icon" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Next Gen Viewer</span>&nbsp;&nbsp;
  <button (click)="this.deleteDrawing()" mat-raised-button>
    <mat-icon>undo</mat-icon>
  </button>&nbsp;
  <button (click)="this.redoDrawing()" mat-raised-button>
    <mat-icon>redo</mat-icon>
  </button>&nbsp;
  <button color="accent" (click)="showFillerREPL = !showFillerREPL" mat-raised-button>
    Toggle REPL
  </button>&nbsp;
  <span class="example-spacer"></span>
  <p>  </p>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
  </button>
  
</mat-toolbar>




<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Brain Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <br>
        <mat-form-field appearance="standard">
          <mat-label>Section No</mat-label>
          <input (change)="this.emailUpdated($event)" matInput placeholder="E.g. 0025">
        </mat-form-field>
        <mat-card-actions>
          <button (click)="this.brainIDUpdated()" mat-raised-button>Submit</button>
        </mat-card-actions><p> </p>
        <mat-slide-toggle
            color="primary"
            (change)="this.onToggleTracer($event)"
            class="example-margin"
            [checked]="checked"
            [disabled]="disabled">
          Toggle Tracer
        </mat-slide-toggle><p> </p>
        <br>
      </mat-expansion-panel>
    </mat-accordion><p> </p>


    <mat-accordion>
      
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Annotation Tools
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p> </p>
        <button (click)="this.addInteraction('Point')" mat-raised-button>
          Point
        </button><p> </p>
        <button (click)="this.addInteraction('LineString')" mat-raised-button>
          LineString
        </button><p> </p>
        <button (click)="this.addInteraction('Polygon')" mat-raised-button>
          Polygon
        </button><p> </p>
        <button (click)="this.addInteraction('Circle')" mat-raised-button>
          Circle
        </button><p> </p>
        <button (click)="this.removeInteraction()" mat-raised-button color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>clear</mat-icon>
        </button><p> </p><button (click)="this.deleteDrawing()" mat-raised-button color="primary" aria-label="Example icon button with a menu icon">
            <mat-icon>delete</mat-icon>
        </button>
      </mat-expansion-panel>
    </mat-accordion><p> </p>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Union Difference
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button (click)="this.addPolygons()" mat-raised-button>
          Add Polygon
        </button><p> </p>
        <button (click)="this.erasePolygons()" mat-raised-button>
          Erase Polygon
        </button><p> </p>
        <button (click)="this.combine()" mat-raised-button color="primary" aria-label="Example icon button with a menu icon">
              <mat-icon>track_changes</mat-icon>
              Combine
        </button>
      </mat-expansion-panel>
    </mat-accordion><p> </p>
    
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Save & Load
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button (click)="openSnackBar('Saving Polygons to firebase', 'Dismiss'); savePolygonsToFirebase()" color="primary" mat-raised-button>
          Save Polygons
        </button><p> </p>
        <button (click)="retrievePolygonsFromFirebase(); openSnackBar('Retrieving Polygons to firebase', 'Dismiss')" color="primary" mat-raised-button>
          Retrieve Polygons
        </button><p> </p>
        <button (click)="loadPolygonsFromFirebase()" color="primary" mat-raised-button>
          Load Polygons
        </button><p> </p>
      </mat-expansion-panel>
    </mat-accordion><p> </p>

    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Colour Intensity
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button (click)="resetToDefault()" color="primary" mat-raised-button>
          Reset to default
        </button><p> </p>
        Invert
        <mat-slider
          thumbLabel
          (change)="this.onInvertChange($event)"
          min="1"
          max="100"></mat-slider><p> </p>
        Hue
        <mat-slider
          thumbLabel
          (change)="this.onHueChange($event)"
          min="0"
          max="360"></mat-slider><p> </p>
        Saturation
        <mat-slider
          thumbLabel
          (change)="this.onSaturationChange($event)"
          min="1"
          max="100"></mat-slider><p> </p>
      </mat-expansion-panel>
    </mat-accordion><p> </p>


    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Layers
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-slide-toggle
            color="primary"
            (change)="this.onToggle($event)"
            class="example-margin"
            [checked]="checked"
            [disabled]="disabled">
          GeoJSON
        </mat-slide-toggle><p> </p>
      </mat-expansion-panel>
    </mat-accordion><p> </p>

    

  </mat-drawer>

  <div class="example-sidenav-content">
    <div id="map" class="map">
    </div>
    <mat-card *ngIf="showFillerREPL" class="example-card">
      <mat-card-header>
        <mat-card-title>REPL Bot</mat-card-title>
        <mat-card-subtitle>Automate NGV Task using REPL Bot</mat-card-subtitle>
      </mat-card-header>
      <!--<img mat-card-image src="https://img.freepik.com/free-vector/set-cute-robot-ai-character-with-circuits-background_99413-92.jpg" height="200">-->
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text"
                   id = "replID"
                   placeholder="Command line"
                   aria-label="Number"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
        <mat-card-actions>
          <button (click)="this.REPL()" mat-raised-button>Submit</button>
        </mat-card-actions>
      </mat-card-content>

    </mat-card>

  </div>

</mat-drawer-container>
